.transparentBack {
    background-color: rgba(46, 45, 45, 0.616);
    backdrop-filter: blur(2px);
}

.sendBtn {
    width: 100%;
}

.sendBtn:hover {
    box-shadow: inset 0 0 10px rgba(255, 255, 255, .5), 0 0 10px rgba(255, 255, 255, .2);
}