.subNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    z-index: 5;
    margin: 30px 30px -30px 30px;
}

.subnavIcons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.navIcons {
    position: fixed;
    display: flex;
    z-index: 5;
}

.name {
    display: flex;
    align-items: center;
    font-size: 22px;
    opacity: 0;
    z-index: 5;
}

.nameVisible {
    opacity: 1;
    transition: all 0.2s ease-in-out;

}

.githubIcon,
.linedinIcon {
    height: 20px;
    width: 20px;
    z-index: 5;
    margin: 0 20px 0 10px;
    cursor: pointer;
}

.linedinIcon {
    margin-right: 85px;
}

.hamburger {
    position: fixed;
    z-index: 9;
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 40px;
    cursor: pointer;
}

.hamburger div {
    width: 35px;
    height: 3px;
    background-color: white;
    z-index: 5;
    margin: 5px 0;
    transition: transform 0.2s ease-in-out;
}

.links-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 0;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(21, 33, 69, 1) 0%, rgba(146, 45, 119, 1) 53%, rgba(238, 77, 93, 1) 100%);
    transition: height 0.3s ease-in-out;
}

.links-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.links-list li {
    margin: 10px 0;
}

.links-list a {
    font-size: 8rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
    position: relative;
}

.links-list a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 45%;
    width: 100%;
    height: 10px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s ease-out;
}

.links-list a:hover::before {
    transform: scaleX(1);
}

.active {
    height: 100%;
    width: 100%;
    opacity: 1;
    visibility: visible;
    transform: all 0.3 ease-in-out;
}

.bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.bar2 {
    opacity: 0;
}

.bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}