#container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    position: relative;

}

#expand {
    background-color: #f3f7fb;
    min-height: 1700px;
    min-width: 105%;
    position: absolute;
    will-change: width;
    border-radius: 50px;
    transition: all ease .2s;
    z-index: -1;
}

#projTitle {
    padding-top: 60px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 75px;
}

.myProjects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 120px;
    margin: 250px 0 250px 0;
    flex-wrap: wrap;
}

.projImg {
    display: flex;
    justify-content: center;
    min-width: 550px;
    min-height: 350px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.descriptionContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    min-width: 450px;
    min-height: 350px;
    color: black;
    font-size: 18px;
}


.descriptionContainer h3 {
    font-size: 30px;
}


.projectContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    gap: 100px;
    padding: 0 50px 0 50px;
}

.projectContainer:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
}

.tags {
    border: 1px solid black;
    border-radius: 20px;
    font-size: 14px;
    padding: 8px;
}

.interactable {
    aspect-ratio: 1 / 1.5;
    width: clamp(120px, 40vmin, 600px);
    background-position: center 50%;
    background-size: 100%;
    opacity: 0.4;
    transition: background-size 400ms ease, opacity 400ms ease;
}

.interactable:hover {
    background-size: 105%;
    opacity: 0.8;
}

.container2 {
    width: 200px;
    height: 200px;
    /* overflow: hidden; */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
}