#container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    position: relative;

}

#expand {
    background-color: #f3f7fb;
    min-height: 1850px;
    min-width: 105%;
    position: absolute;
    will-change: width;
    border-radius: 50px;
    transition: all ease .2s;
    z-index: -1;
}

.projTitle {
    padding-top: 70px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 80px;
    margin-bottom: 200px;

}

.myProjects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 180px;
    margin: 250px 0 250px 0;
    flex-wrap: wrap;
}

.projImg {
    min-width: 550px;
    min-height: 350px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.descriptionContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    min-width: 450px;
    min-height: 350px;
    color: black;
    font-size: 18px;
}

.descriptionContainer h3 {
    font-size: 30px;
}

.projectContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
    padding: 0 50px 0 50px;
}

.projectContainer:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
}

.tags {
    border: 1px solid black;
    border-radius: 20px;
    font-size: 14px;
    padding: 8px;
}