@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;

}

::selection {
  background-color: #d3d1d3;
}

body {
  overflow-x: hidden;
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.black-gradient {
  background: #000000;

  background: -webkit-linear-gradient(to right,
      #434343,
      #000000);
  background: linear-gradient(to right,
      #434343,
      #000000);
}

.violet-gradient {
  background: #804dee;
  background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(-90deg,
      #804dee 0%,
      rgba(60, 51, 80, 0) 100%);
}

/* about section gradients */
.green-pink-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}

.orange-text-gradient {
  background: #f12711;
  background: -webkit-linear-gradient(to top,
      #f12711,
      #f5af19);
  background: linear-gradient(to top,
      #f12711,
      #f5af19);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green-text-gradient {
  background: #11998e;
  background: -webkit-linear-gradient(to top,
      #11998e,
      #38ef7d);
  background: linear-gradient(to top,
      #11998e,
      #38ef7d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-text-gradient {
  background: #56ccf2;
  background: -webkit-linear-gradient(to top,
      #2f80ed,
      #56ccf2);
  background: linear-gradient(to top,
      #2f80ed,
      #56ccf2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-text-gradient {
  background: #ec008c;
  background: -webkit-linear-gradient(to top,
      #ec008c,
      #fc6767);
  background: linear-gradient(to top,
      #ec008c,
      #fc6767);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.canvas-loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

@keyframes mulShdSpin {

  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }

  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }

  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}


body {
  background-color: #1d1d1f;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}

@keyframes mobileRotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1;
  }

  to {
    rotate: 0deg;
  }
}

.container {
  overflow-x: hidden;
}

#blob {
  height: 34vmax;
  aspect-ratio: 1.5;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 20s infinite;
  opacity: 0.5;
}

#blur {
  height: 200%;
  width: 100%;
  position: absolute;
  z-index: 0;
  backdrop-filter: blur(12vmax);
}

.myAbstract {
  padding-left: 650px;
  overflow: hidden;
}

.aboutCardImgae {
  background-color: rgba(46, 45, 45, 0.918);
  backdrop-filter: blur(31px);
}

.arroyBtn {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: transparent;
  border: 2px solid #804dee;
  /* margin-top: -300px; */
  border-radius: 50%;
  padding: 11%;
  cursor: pointer;
  transition: all ease-in 0.2s;
  opacity: 0.6;
}

.arrowImg {
  min-width: 50px;
  min-height: 50px;
  transition: all ease-in .1s;
}

.arroyBtn:hover {
  scale: .9;
  opacity: 1;
  border: 2px solid #d2d2d4;
}

.arroyBtn:hover>.arrowImg {
  min-width: 90px;
  min-height: 90px;
}

::-webkit-scrollbar {
  display: none;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  background: #7983ff;
  border-radius: 50px;
  transform-origin: 0%;
  z-index: 999;
}

@media only screen and (min-width: 1550px) {

  .heroName h1 {
    font-size: 115px;
  }

  .heroName p {
    font-size: 34px;
    padding: 25px 0 25px 0;
  }

  .buttonContainer {
    display: flex;
    gap: 50px;
    margin-left: 15px;
  }

  .workBtn {
    scale: 1.2;
  }

  .rightHeader {
    scale: 1.5;
    margin-bottom: 150px;
    margin-right: -100px;
  }
}

@media only screen and (min-width: 1000px) {
  .projectContainer {
    flex-wrap: nowrap;
  }



  .projImgContainer {
    min-width: 500px;
    min-height: 350px;
  }
}

@media only screen and (max-width: 1200px) {

  .arroyBtn {
    display: none;
  }

  .heroSection {
    margin-top: 0px;
  }

  .heroName {
    padding: 25px;
  }

  .leftHeader {
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  .rightHeader {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    scale: .9;
  }

  #blob {
    height: 60vmax;
    overflow-x: hidden;
    translate: -90%;
    max-width: 100%;
    animation: mobileRotate 20s infinite;

  }

  .js {
    width: 100px;
    height: 100px;
    font-size: 22px;
    margin-left: 100px;
    margin-top: -80px;
  }

  .threejs {
    margin-left: -150px;
    margin-top: 450px;
  }

  .nodejs {
    margin-top: 50px;
  }

  .css {
    margin-left: -10px;
  }

  .express {
    margin-left: 300px;
    margin-top: 230px;

  }

  .postgres {
    width: 150px;
    height: 150px;
    font-size: 28px;
    margin-left: 140px;
    margin-top: 350px;
  }

  .react {
    margin-left: -200px;
    margin-top: 30px;
  }

  .html {
    margin-left: -200px;
    margin-top: 320px;
  }

  .links-list a {
    font-size: 4rem;
  }

  .subNav {
    margin: 20px 5px -80px 20px;

  }

  .aboutSec {
    margin-top: 280px;
  }

  /* About section */
  .aboutCard {
    width: 150px;
  }

  .aboutCardImgae {
    height: 150px;
  }

  .aboutCardImgae h3 {
    font-size: 12px;
  }

  .aboutCardsContainer {
    flex-direction: row;
    justify-content: center;
    margin-bottom: -250px;
    gap: 40px;
  }

  /* Projects */
  .myProjects {
    margin-top: 350px;
    margin-bottom: 350px;
    gap: 80px;
  }

  .descriptionContainer {
    gap: 10px;
  }

  .projectContainer {
    gap: 40px;
  }

  .projImg {
    min-height: 180px;
  }
}

@media only screen and (max-width: 650px) {
  .container {
    display: none;
  }


  .rightHeader {
    margin-top: -100px;
    scale: .8;
  }
}

@media only screen and (max-width: 450px) {
  .projectContainer {
    padding: 0 25px 0 25px;
  }
}